HELP.md
target/
build/
.gradle

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.db
out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### VS Code ###
.vscode/

### macOS ###
.DS_Store
